/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Russo One'), local('RussoOne-Regular'), url(https://fonts.gstatic.com/s/russoone/v8/Z9XUDmZRWg6M1LvRYsHOz8mM.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: 'Russo One', sans-serif;
  background-color: #F6FCFF;
}
body {
  padding: 0 10%;
  color: #26325E;
}
nav {
  background-color: white;
  color: #26325E;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vh 0;
}
nav .nav-logo {
  font-size: 1.8rem;
}
nav .nav-links {
  width: 60%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
nav a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: #26325E;
  color: white;
  height: 70vh;
}
header img {
  border-radius: 110%;
  width: 60%;
}
header h1 {
  font-size: 4.8rem;
  margin-bottom: 2vh;
}
header h2 {
  font-size: 2.8rem;
}
header .profile-img {
  width: 50%;
  text-align: center;
}
header .titles {
  width: 50%;
}
header .title-contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  color: #26325E;
  width: 60%;
  border-radius: 2.5rem;
  padding: 2vh;
  margin-top: 2vh;
  font-size: 1.4rem;
  height: 15rem;
  text-align: justify;
}
header .title-contact button {
  width: 40%;
  height: 3rem;
  border-radius: 2rem;
  color: #26325E;
  background-color: #FFCC8F;
}
.skills-edu-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.skills:hover {
  transform: scale(1.02);
}
.skills {
  background-color: white;
  width: 30%;
  margin: 2vh 0;
  height: 50vh;
  border-radius: 10%;
  padding: 5vh 3%;
  -webkit-box-shadow: 0px 30px 56px -47px #00115e;
  -moz-box-shadow: 0px 30px 56px -47px #00115e;
  box-shadow: 0px 30px 56px -47px #00115e;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: column;
  align-items: center;
}
.skills h2 {
  font-size: 3rem;
  width: 100%;
}
.skills ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.skills li {
  font-size: 1.4rem;
  background-color: #FFCC8F;
  border-radius: 2rem;
  text-align: center;
  height: 3.5rem;
  width: 100%;
  margin: 1vh 0;
  padding: 1rem;
}
.education {
  background-color: white;
  width: 30%;
  margin: 2vh 0;
  height: 50vh;
  border-radius: 10%;
  padding: 5vh 3%;
  -webkit-box-shadow: 0px 30px 56px -47px #00115e;
  -moz-box-shadow: 0px 30px 56px -47px #00115e;
  box-shadow: 0px 30px 56px -47px #00115e;
}
